services:
  nginx:
    image: nginx:latest
    develop:
      watch:
        - action: restart
          path: ./nginx/nginx.conf
    ports:
      - target: 8080
        published: 8080
        protocol: tcp
    volumes:
      - source: config/nginx/nginx.conf
        target: /etc/nginx/nginx.conf
        type: bind
      - source: wagtail-static
        target: /usr/share/nginx/html/static
        type: volume
      - source: wagtail-media
        target: /usr/share/nginx/html/media
        type: volume
    depends_on:
      wagtail:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/health"]
      start_interval: 2s
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 5

  wagtail:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        DJANGO_SETTINGS_MODULE: "cheminova.settings.dev"
    develop:
      watch:
        - action: sync
          path: src
          target: /app
    command: ["uv", "run", "manage.py", "runserver", "0.0.0.0:8000"]
    ports:
      - target: 8000
        published: 8000
        protocol: tcp
    environment:
      POSTGRES_USER:
      POSTGRES_PASSWORD:
      POSTGRES_DB:
      POSTGRES_HOST:
      SECRET_KEY:
      BASE_PATH: /
    volumes:
      - source: wagtail-static
        target: /app/static
        type: volume
      - source: wagtail-media
        target: /app/media
        type: volume
    depends_on:
      database:
        condition: service_healthy
    healthcheck:
      start_interval: 2s
      start_period: 20s
      interval: 30s
      timeout: 10s
      retries: 5

  database:
    image: postgres:latest
    ports:
      - target: 5432
        published: 5432
        protocol: tcp
    environment:
      POSTGRES_USER:
      POSTGRES_PASSWORD:
      POSTGRES_DB:
    volumes:
      - source: wagtail-db-data
        target: /var/lib/postgresql
        type: volume
      - source: wagtail-db-backup
        target: /var/lib/postgresql/backup
        type: volume
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      start_interval: 5s
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 5

  media-backup:
    image: minio/mc:RELEASE.2025-08-13T08-35-41Z
    command: ["mirror", "--watch", "--remove", "/app/media", "s3/media"]
    volumes_from:
      - wagtail
    volumes:
      - source: config/mc/config.json
        target: /root/.mc/config.json
        type: bind
    depends_on:
      s3:
        condition: service_healthy
      s3-config:
        condition: service_completed_successfully
      wagtail:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "mc", "ready", "s3"]
      start_interval: 5s
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 5

  s3-config:
    image: minio/mc:RELEASE.2025-08-13T08-35-41Z
    command: ["mb", "--ignore-existing", "s3/media", "s3/db-dump"]
    volumes:
      - source: config/mc/config.json
        target: /root/.mc/config.json
        type: bind
    depends_on:
      s3:
        condition: service_healthy

  s3:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    command: ["server", "/data", "--console-address", ":9001"]
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    volumes:
      - source: wagtail-s3-data
        target: /data
        type: volume
    ports:
      - published: 9001
        target: 9001
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      start_interval: 5s
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 5

volumes:
  wagtail-db-data:
  wagtail-db-backup:
  wagtail-static:
  wagtail-media:
  wagtail-s3-data:
