{% extends "rest_framework/base.html" %}

{% block request_forms %}
  <form id="depth-form" class="pull-right">
    <fieldset>
      <div class="btn-group format-selection">
        <a class="btn btn-primary js-tooltip" href="{{ request.get_full_path }}" rel="nofollow" title="Make a GET request on the {{ name }} resource">Depth</a>

        <button class="btn btn-primary dropdown-toggle js-tooltip" data-toggle="dropdown" title="Specify a depth for the GET request">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="js-tooltip format-option" href="{{ request.get_path }}{% querystring depth=0 %}" rel="nofollow" title="Make a GET request on the {{ name }} resource with depth set to 0">0</a>
          </li>
          <li>
            <a class="js-tooltip format-option" href="{{ request.get_path }}{% querystring depth=None %}" rel="nofollow" title="Make a GET request on the {{ name }} resource with max depth">max</a>
          </li>
        </ul>
      </div>
    </fieldset>
  </form>

  {{ block.super }}

{% endblock request_forms %}
