{
  "version": "10",
  "aliases": {
    "local-cheminova": {
      "url": "http://s3:9000",
      "accessKey": "minio",
      "secretKey": "minio123",
      "api": "s3v4",
      "path": "auto",
      "secure": false
    },
    "dev-cheminova": {
      "url": "https://fra1.digitaloceanspaces.com",
      "accessKey": "bucket_access_key",
      "secretKey": "bucket_secret_key",
      "api": "s3v4",
      "path": "auto",
      "secure": true
    }
  }
}
